<div fxLayout="column" fxLayoutAlign="start center">
    <div class="header">
       
    </div>
    
        <div fxLayout="column" fxLayoutAlign="center center" class="content">
        <span><h1>Forget Your Password?</h1></span>
            <div fxLayout="column" fxLayoutAlign="space-evenly center" class="forgetpassword_container">
              <span><p>Enter Your Email address and we'll send you<br/> a link to reset your password</p></span>
              <form  [formGroup]="forgetPasswordForm" (ngSubmit)="sendmail()"  fxLayout="column" fxLayoutAlign="space-evenly center" class="field" >
                      
                      <input placeholder="Email" type="email" formControlName="email"/>
                      <button>Reset Password</button>
              </form>
             
          </div>
          <div class="account">
            <h1>Create Account</h1>
           </div>
    </div>
</div>