<div  fxLayout="row" fxLayoutAlign="space-between start" class="view_container">
    <div fxLayout="row" fxLayoutAlign="space-between center" class="left_container">
      <div class="Book_small_image">

      </div>
      <div class="Book_image_actions">
    <div class="Book_image">
        <img/>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center" class="Book_actions">
        <div class="action">
            ADD ToBag
        </div>
        <div class="action">
            WISHLIST
        </div>
    </div>
      </div>
    </div>
    <div class="Right_container">
         <div class="Book_details">

         </div>
         <div class="feedBack">

         </div>
    </div>
</div>