<div fxLayout="column" fxLayoutAlign="start center">
    <div class="header">
    </div>
        <div fxLayout="column" fxLayoutAlign="center center" class="content">
        <span><h1>Reset Your Password</h1></span>
            <div fxLayout="column" fxLayoutAlign="space-evenly center" class="forgetpassword_container">
              <form [formGroup]="resetPasswordForm" (ngSubmit)="reset()" fxLayout="column" fxLayoutAlign="space-evenly center" class="field" >
                   <input placeholder="Password" formControlName="newPassword"/>
                   <input  placeholder="Confirm Password" formControlName="confirmPassword"/>
                   <button>Reset Password</button>
              </form>
             
          </div>
          
    </div>
</div>